.nav {
  box-shadow: 0px 1px 10px 1px rgb(255,215,0);
  /* border-bottom:1px solid goldenrod; */
  margin-bottom: 2rem;
} 

.nav a, .btn-sidebar {
  color: gold;
}

.nav-link a{
  color: goldenrod;
}

.btn-sidebar:hover {
  color: gold;
}
